@import "../../assets/css/themes";

.loader {
    display: none;
    width: 80%;
    height: auto;
    margin: auto;
    max-width: 800px;

    .logo-text {
        height: auto;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: auto;

        canvas {
            @include themify($themes-color) {
                color: themed("tertiary-color");
            }
            height: auto;
            width: 100%;
            background: transparent;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }

        canvas.active {
            opacity: 1;
            visibility: inherit;
        }
    }

    .logo-image {
        height: auto;
        width: 100%;
        padding: 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .logoContainer {
            width: 20%;
            height: auto;
            padding-bottom: calc((20% * 100) / 57.6);
            opacity: 0;
            position: relative;
            visibility: hidden;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;

            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding-bottom: calc((100% * 500) / 288);
            }

            @include themify($themes-color) {
                .backBackground {
                    background: -prefix-linear-gradient(270deg, themed("secondary-color"), themed("tertiary-color"));
                    background: linear-gradient(270deg, themed("secondary-color"), themed("tertiary-color"));
                    transform: rotate(-90deg);
                }

                .middleBackground {
                    background: -prefix-linear-gradient(135deg, themed("secondary-color"), themed("tertiary-color"));
                    background: linear-gradient(135deg, themed("secondary-color"), themed("tertiary-color"));
                    transform: rotate(-90deg);
                    -webkit-transition: all 0.4s linear;
                    -moz-transition: all 0.4s linear;
                    -o-transition: all 0.4s linear;
                    transition: all 0.4s linear;
                }

                .middleBackground.rotate {
                    transform: rotate(-150deg);
                }

                .frontBackground {
                    background: -prefix-linear-gradient(135deg, themed("secondary-color"), themed("tertiary-color"));
                    background: linear-gradient(135deg, themed("secondary-color"), themed("tertiary-color"));
                    transform: rotate(-90deg);
                    -webkit-transition: all 0.8s linear;
                    -moz-transition: all 0.8s linear;
                    -o-transition: all 0.8s linear;
                    transition: all 0.8s linear;
                }

                .frontBackground.rotate {
                    transform: rotate(-210deg);
                }
            }
        }

        .logoContainer.active {
            opacity: 1;
            visibility: inherit;
        }

        .svgContainer {
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;

            svg {
                width: 17%;
                height: auto;
                margin: auto;
                display: block;
                @include themify($themes-color) {
                    fill: themed("background-color");
                }
            }
        }

        .svgContainer.active {
            opacity: 1;
            visibility: inherit;
        }
    }
}

.loader.active {
    display: block;
}
