@import "../../assets/css/themes";

@keyframes moveLoader {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150vh);
    }
}

.loader {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    max-width: 800px;

    @media (max-width: $device-sm) {
        width: 100%;
    }

    .logo-text {
        height: auto;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: auto;

        @keyframes showCanvas {
            0% {
                opacity: 0;
                visibility: hidden;
            }
            70% {
                opacity: 0;
                visibility: hidden;
            }
            100% {
                opacity: 1;
                visibility: inherit;
            }
        }

        canvas {
            @include themify($themes-color) {
                color: themed("quaternary-color");
            }
            height: auto;
            width: 100%;
            background: transparent;
            opacity: 1;
            visibility: inherit;
            animation: showCanvas 1.2s linear;
        }
    }

    .logo-image {
        height: auto;
        width: 100%;
        padding: 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @keyframes showLogo {
            from {
                opacity: 0;
                visibility: hidden;
            }
            to {
                opacity: 1;
                visibility: inherit;
            }
        }

        .logoContainer {
            width: 15%;
            height: auto;
            padding-bottom: calc((15% * 100) / 57.6);
            position: relative;
            opacity: 1;
            visibility: inherit;
            animation: showLogo 0.4s linear;

            div {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 4px);
                padding-bottom: calc(calc((100% * 500) / 288) - 4px);
                border: 2px solid #000;
                @include themify($themes-color) {
                    border: 2px solid themed("quaternary-color");
                }
            }

            @include themify($themes-color) {
                @keyframes rotateMiddle {
                    from {
                        transform: rotate(-90deg);
                    }
                    to {
                        transform: rotate(-150deg);
                    }
                }

                @keyframes rotateFront {
                    from {
                        transform: rotate(-90deg);
                    }
                    to {
                        transform: rotate(-210deg);
                    }
                }

                .backBackground {
                    background: -prefix-linear-gradient(270deg, themed("primary-color"), themed("quaternary-color"));
                    background: linear-gradient(270deg, themed("primary-color"), themed("quaternary-color"));
                    transform: rotate(-90deg);
                }

                .middleBackground {
                    background: -prefix-linear-gradient(135deg, themed("primary-color"), themed("quaternary-color"));
                    background: linear-gradient(135deg, themed("primary-color"), themed("quaternary-color"));
                    transform: rotate(-150deg);
                    animation: rotateMiddle 0.4s linear;
                }

                .frontBackground {
                    background: -prefix-linear-gradient(135deg, themed("primary-color"), themed("quaternary-color"));
                    background: linear-gradient(135deg, themed("primary-color"), themed("quaternary-color"));
                    transform: rotate(-210deg);
                    animation: rotateFront 0.8s linear;
                }
            }
        }

        @keyframes showSvg {
            0% {
                opacity: 0;
                visibility: hidden;
            }
            70% {
                opacity: 0;
                visibility: hidden;
            }
            100% {
                opacity: 1;
                visibility: inherit;
            }
        }

        .svgContainer {
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            opacity: 1;
            visibility: inherit;
            animation: showSvg 1.2s linear;

            svg {
                width: 10%;
                height: auto;
                margin: auto;
                display: block;
                @include themify($themes-color) {
                    fill: themed("quaternary-color");
                }
            }
        }
    }
}

.loader.retract {
    transform: translateY(-150vh);
    animation: moveLoader 0.5s linear;
}
