@import "../../assets/css/themes";

.language-button {
    display: flex;

    ul {
        @include themify($themes-color) {
            color: themed("secondary-color");

            .active {
                color: themed("quaternary-color");
            }
        }

        padding: 0;
        margin: auto;
        width: auto;
        display: inline-block;
        vertical-align: middle;

        li {
            display: inline-block;
            vertical-align: middle;
            font-size: 22px;
            cursor: pointer;
        }

        .middle {
            margin: auto 10px;
            cursor: default;
        }
    }

    @media (max-width: $device-sm) {
        ul {
            li {
                font-size: 16px;
            }
            .middle {
                margin: auto 5px;
                cursor: default;
            }
        }
    }
}
