@import "../../assets/css/themes";

.language-button {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    display: flex;

    ul {
        @include themify($themes-color) {
            color: themed("secondary-color");

            .active {
                color: themed("tertiary-color");
            }
        }

        padding: 0;
        margin: auto;
        width: auto;
        display: inline-block;
        vertical-align: middle;

        li {
            display: inline-block;
            vertical-align: middle;
            font-size: 22px;
            cursor: pointer;
        }

        .middle {
            margin: auto 10px;
            cursor: default;
        }
    }
}
