@import "../../assets/css/themes";

.terminal {
    @include themify($themes-color) {
        font-size: 20px;
        background-color: themed("terminal-border");
        overflow: hidden;
        border-radius: 10px;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        max-width: 1000px;
        max-height: 550px;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;

        @media (max-width: 480px) {
            font-size: 16px;
        }

        .terminal-header {
            color: themed("tertiary-color");
            height: 40px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .terminal-content {
            margin: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 60px);
            border-radius: 5px 5px 10px 10px;
            background-color: themed("terminal-content");
            color: themed("tertiary-color");
            overflow: auto;
            position: relative;

            .terminal-legal {
                padding: 10px;
                width: calc(100% - 20px);
                height: auto;
                text-align: center;
                p {
                    display: none;
                }

                p.active {
                    display: block;

                    span {
                        display: block;
                        padding: 25px 0px;

                        @media (max-width: 480px) {
                            padding: 10px 0px;
                        }
                    }
                }
            }

            .terminal-code {
                padding: 10px;
                width: calc(100% - 20px);
                height: auto;

                p {
                    padding-bottom: 10px;

                    span {
                        display: none;
                        margin-right: 10px;
                    }

                    span.active {
                        display: unset;
                    }
                }

                .ident {
                    margin-left: 10px;
                }
            }
        }
    }
}

.terminal.active {
    opacity: 1;
    width: 80%;
    height: 80%;
    visibility: inherit;
}
