/*
 * Theme definitions
 */

$themes-color: (
  light: (
    background-color: white,
    primary-color: #e3e4e5,
    secondary-color: #b4b4b4,
    tertiary-color: #616161,
    quaternary-color: #b4b4b4,
    terminal-border: #b4b4b469,
    terminal-content: #61616146
  ),
  dark: (
    background-color: #262626,
    primary-color: #454545,
    secondary-color: #262626,
    tertiary-color: #b4b4b4,
    quaternary-color: #797979,
    terminal-border: #454545a9,
    terminal-content: #26262681
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $values in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $map in $values {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
