@import "../../assets/css/themes";

header {
    position: fixed;
    width: 100%;
    height: 0%;

    .menu,
    .burger {
        display: none;
    }
}

header.active {
    .burger {
        position: fixed;
        top: 1rem;
        text-align: center;
        width: 3.5rem;
        height: 3.5rem;
        left: calc(50% - 1.75rem);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .logo-image {
            height: auto;
            width: 90%;
            padding: 5% 0;
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            opacity: 0;

            .logoContainer {
                width: 50%;
                height: auto;
                padding-bottom: calc((50% * 100) / 57.6);
                position: relative;
                opacity: 1;
                visibility: inherit;

                div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(100% - 4px);
                    padding-bottom: calc(calc((100% * 500) / 288) - 4px);
                    @include themify($themes-color) {
                        border: 2px solid themed("quaternary-color");
                    }
                }

                @include themify($themes-color) {
                    .backBackground {
                        background: -prefix-linear-gradient(
                            270deg,
                            themed("primary-color"),
                            themed("quaternary-color")
                        );
                        background: linear-gradient(270deg, themed("primary-color"), themed("quaternary-color"));
                    }

                    .middleBackground {
                        background: -prefix-linear-gradient(
                            135deg,
                            themed("primary-color"),
                            themed("quaternary-color")
                        );
                        background: linear-gradient(135deg, themed("primary-color"), themed("quaternary-color"));
                    }

                    .frontBackground {
                        background: -prefix-linear-gradient(
                            135deg,
                            themed("primary-color"),
                            themed("quaternary-color")
                        );
                        background: linear-gradient(135deg, themed("primary-color"), themed("quaternary-color"));
                    }
                }
            }
            .svgContainer {
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                opacity: 0;
                visibility: hidden;

                svg {
                    width: 40%;
                    height: auto;
                    margin: auto;
                    display: block;
                    @include themify($themes-color) {
                        fill: themed("quaternary-color");
                    }
                }
            }
        }

        .icon {
            width: 60%;
            height: 60%;
            margin: auto;

            .top,
            .middle,
            .bottom {
                width: 100%;
                height: 0.4rem;
                margin: 0.23rem 0;
                border-radius: 1rem;
                opacity: 1;
                @include themify($themes-color) {
                    background-color: themed("quaternary-color");
                }
                -webkit-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
            }

            @keyframes moveTopToBurger {
                from {
                    transform: rotate(45deg) translate(8px, 7px);
                }
                to {
                    transform: rotate(0deg) translate(0px, 0px);
                }
            }

            @keyframes moveMiddleToBurger {
                from {
                    opacity: 0;
                    width: 0;
                }
                to {
                    opacity: 1;
                    width: 100%;
                }
            }

            @keyframes moveBottomToBurger {
                from {
                    transform: rotate(-45deg) translate(8px, -7px);
                }
                to {
                    transform: rotate(0deg) translate(0px, 0px);
                }
            }

            .top {
                animation: moveTopToBurger 0.2s linear;
            }
            .middle {
                opacity: 1;
                width: 100%;
                animation: moveMiddleToBurger 0.2s linear;
            }
            .bottom {
                animation: moveBottomToBurger 0.2s linear;
            }
        }
    }

    .burger.animate-logo {
        .logo-image {
            display: flex;
            opacity: 1;
        }

        .logo-image.rotate {
            @keyframes showLogo {
                from {
                    opacity: 0;
                    visibility: hidden;
                }
                to {
                    opacity: 1;
                    visibility: inherit;
                }
            }

            .logoContainer {
                animation: showLogo 0.1s linear;

                @include themify($themes-color) {
                    @keyframes rotateMiddle {
                        from {
                            transform: rotate(-90deg);
                        }
                        to {
                            transform: rotate(-150deg);
                        }
                    }

                    @keyframes rotateFront {
                        0% {
                            transform: rotate(-90deg);
                        }
                        100% {
                            transform: rotate(-210deg);
                        }
                    }

                    .backBackground {
                        transform: rotate(-90deg);
                    }

                    .middleBackground {
                        transform: rotate(-150deg);
                        animation: rotateMiddle 0.4s linear;
                    }

                    .frontBackground {
                        transform: rotate(-210deg);
                        animation: rotateFront 0.8s linear;
                    }
                }
            }

            @keyframes showSvg {
                0% {
                    opacity: 0;
                    visibility: hidden;
                }
                70% {
                    opacity: 0;
                    visibility: hidden;
                }
                100% {
                    opacity: 1;
                    visibility: inherit;
                }
            }

            .svgContainer {
                opacity: 1;
                visibility: inherit;
                animation: showSvg 0.4s linear;
            }
        }

        .logo-image.return {
            @keyframes hideLogo {
                0% {
                    opacity: 1;
                    visibility: inherit;
                }
                80% {
                    opacity: 1;
                    visibility: inherit;
                }
                100% {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            .logoContainer {
                opacity: 0;
                visibility: hidden;
                animation: hideLogo 0.5s linear;

                @include themify($themes-color) {
                    // @keyframes rotateMiddleReverse {
                    //     0% {
                    //         transform: rotate(-150deg);
                    //     }
                    //     50% {
                    //         transform: rotate(-150deg);
                    //     }
                    //     100% {
                    //         transform: rotate(-90deg);
                    //     }
                    // }

                    @keyframes rotateMiddleReverse {
                        0% {
                            transform: rotate(-150deg);
                        }
                        50% {
                            transform: rotate(-150deg);
                        }
                        100% {
                            transform: rotate(-90deg);
                        }
                    }

                    @keyframes rotateFrontReverse {
                        from {
                            transform: rotate(-210deg);
                        }
                        to {
                            transform: rotate(-90deg);
                        }
                    }

                    .backBackground {
                        transform: rotate(-90deg);
                    }

                    .middleBackground {
                        transform: rotate(-90deg);
                        animation: rotateMiddleReverse 0.5s linear;
                    }

                    .frontBackground {
                        transform: rotate(-90deg);
                        animation: rotateFrontReverse 0.5s linear;
                    }
                }
            }
            @keyframes hideSvg {
                0% {
                    opacity: 1;
                    visibility: inherit;
                }
                100% {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .svgContainer {
                opacity: 0;
                visibility: hidden;
                animation: hideSvg 0.1s linear;
            }
        }
    }
}

header.expand {
    height: 100%;

    .burger .icon {
        @keyframes moveTopToX {
            from {
                transform: translate(0px, 0px);
            }
            to {
                transform: rotate(45deg) translate(8px, 7px);
            }
        }

        @keyframes moveMiddleToX {
            from {
                opacity: 1;
                width: 100%;
            }
            to {
                opacity: 0;
                width: 0;
            }
        }

        @keyframes moveBottomToX {
            from {
                transform: translate(0px, 0px);
            }
            to {
                transform: rotate(-45deg) translate(8px, -7px);
            }
        }

        .top {
            transform: rotate(45deg) translate(8px, 7px);
            animation: moveTopToX 0.2s linear;
        }
        .middle {
            width: 0;
            opacity: 0;
            animation: moveMiddleToX 0.2s linear;
        }
        .bottom {
            transform: rotate(-45deg) translate(8px, -7px);
            animation: moveBottomToX 0.2s linear;
        }
    }

    @include themify($themes-color) {
        .menu {
            display: block;
            padding-top: 4rem;
            width: 100%;
            height: 100%;
            // background-color: themed("frame-color");

            .container {
                width: 100%;
                height: calc(calc(100% - 110px) - 4rem);
                display: flex;

                nav {
                    margin: 10px;
                    width: calc(50% - 21px);
                    height: calc(100% - 20px);
                    height: auto;
                    overflow: auto;
                    text-align: center;

                    a {
                        display: table;
                        margin: 20px auto;
                        -webkit-transition: color 0.3s ease-out;
                        transition: color 0.3s ease-out;
                        position: relative;
                        text-decoration: none;
                        color: themed("quaternary-color");
                    }
                    a:before {
                        top: -5px;
                        -webkit-transform: translateY(-10px);
                        transform: translateY(-10px);
                    }
                    a:after {
                        bottom: -5px;
                        -webkit-transform: translateY(10px);
                        transform: translateY(10px);
                    }
                    a:before,
                    a:after {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: themed("opaque-color");
                        content: "";
                        opacity: 0;
                        -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
                        transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
                        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
                        transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
                    }
                    a:hover,
                    a.active {
                        color: themed("opaque-color");
                    }
                    a:hover::before,
                    a:hover::after,
                    a.active:before,
                    a.active:after {
                        opacity: 1;
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                    }
                }

                .middle {
                    height: calc(100% - 20px);
                    width: 2px;
                    background-color: themed("opaque-color");
                    border-radius: 1px;
                }

                .socials {
                    margin: 10px;
                    width: calc(50% - 21px);
                    height: calc(100% - 20px);
                }
            }

            .mode-buttons {
                width: 100%;
                height: 110px;

                .align-end {
                    margin-top: 10px;
                }
            }
        }
    }
}
