@import "../../assets/css/themes";

@keyframes move-footer {
    from {
        bottom: -300px;
    }
    to {
        bottom: -125px;
    }
}

.footer {
    @include themify($themes-color) {
        background-color: themed("frame-color");
    }
    position: fixed;
    bottom: -125px;
    left: -125px;
    width: 250px;
    height: 250px;
    display: flex;
    box-shadow: 0px 0px 15px 5px #00000094;
    transform: rotate(-45deg);
    animation: move-footer 0.3s ease-out;

    .horizontal-rotation {
        transform: rotate(45deg);
        width: 70%;
        height: 70%;
        margin: auto;

        .align-end {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
    }

    @media (max-width: $device-sm) {
        @keyframes move-footer {
            from {
                bottom: -250px;
            }
            to {
                bottom: -100px;
            }
        }

        bottom: -100px;
        left: -100px;
        width: 200px;
        height: 200px;
    }

    .horizontal-rotation {
        .align-end {
            margin-top: 5px;
        }
    }
}

@keyframes retract-footer {
    0% {
        bottom: -125px;
    }
    100% {
        bottom: -300px;
    }
}
.footer.retract {
    bottom: -300px;
    animation: retract-footer .5s linear;
}
