@import "../../assets/css/themes";

.footer {
    @include themify($themes-color) {
        background-color: themed("primary-color");
    }
    position: fixed;
    bottom: -150px;
    left: -150px;
    width: 300px;
    height: 300px;
    display: flex;
    transform: rotate(-45deg);

    .horizontal-rotation {
        transform: rotate(45deg);
        width: 70%;
        height: 70%;
        margin: auto;

        .align-end {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
    }

    @media (max-width: $device-sm) {
        bottom: -100px;
        left: -100px;
        width: 200px;
        height: 200px;
    }

    .horizontal-rotation {
        .align-end {
            margin-top: 5px;
        }
    }
}
